.cartBtn {
  background-color: brown;
  color: white;
  width: 5rem;
  height: 3rem;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}
.cartBtn:hover {
  background-color: red;
  border: 2px solid black;
  cursor: pointer;
}
