.ulMoviesList li {
  background-color: rgb(195, 195, 195);
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  gap: 20px;
  padding: 2rem;
  border-radius: 10px;
  width: 80rem;
  margin: 1rem auto;
}

.ulMoviesList {
  background-color: white;
  border-radius: 1rem;
  width: 90rem;
  margin: 2rem auto;
  padding: 1rem;
}
